service: friends-list-bot

frameworkVersion: '3'

useDotenv: true

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  memorySize: 1024
  timeout: 30
  environment:
    TELEGRAM_BOT_TOKEN: ${env:TELEGRAM_BOT_TOKEN}
    BACKEND_BASE_URL: ${env:BACKEND_BASE_URL}
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
    DYNAMODB_TABLE_NAME: ${env:DYNAMODB_TABLE_NAME}
    LLM_PROVIDER: ${env:LLM_PROVIDER}
    OPENAI_API_KEY: ${env:OPENAI_API_KEY}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:GetObject
        - s3:ListBucket
      Resource:
        - "arn:aws:s3:::${env:S3_BUCKET_NAME}"
        - "arn:aws:s3:::${env:S3_BUCKET_NAME}/*"
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:Scan
        - dynamodb:Query
      Resource: "arn:aws:dynamodb:${self:provider.region}:*:table/${env:DYNAMODB_TABLE_NAME}"

functions:
  api:
    handler: handler.lambda_handler
    layers:
      - Ref: PythonRequirementsLambdaLayer
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY

  webhook:
    handler: bot.webhook_handler.lambda_handler
    layers:
      - Ref: PythonRequirementsLambdaLayer
    events:
      - http:
          path: /webhook
          method: POST

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    layer: true
    dockerizePip: true
    dockerImage: public.ecr.aws/sam/build-python3.11:latest-x86_64
    useDownloadCache: false
    useStaticCache: false
    zip: true
    pythonBin: python3.11
    slim: false
    invalidateCaches: true